*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: white;
    font-family: sans-serif;
}
.qury-form
{
    height: 60%;
    width: 40%;
    left: 50%;
    top: 35%;
    position: absolute;
    border: 2px solid rgba(255, 7, 7, 0.767);
}
.msg1
{
    background-color: rgba(255, 7, 7, 0.767);
    text-align: center;
    color: white;
    height: 13%;
    font-size: 20px;
    font-weight: bold;
}
.box1
{
    left: 5%;
    float: left;
    width: 100%;
}
.inputbox1
{
    padding: 4%;
}
.inputbox1 input
{
    height: 40px;
    width: 60%;
    left: 40px;
    float: right;
    font-size: 18px;
    box-shadow: 0px 0px 1.5px rgb(73, 72, 72);
    border-radius: 2px;
    border: 1px solid gray;
    padding: 10px;
}
.butn1
{
    width: 100%;
    height: 40px;
}
.butn1-1 input
{
    background: inherit;
    height: 40px;
    margin-left: 5%;
    width: 40%;
    border-radius: 2px;
    border: 1px solid gray;
    float: left;
    font-size: 20px;
    color: darkgray;
    font-weight: bold;
    padding-right: 2px;
}
.inputbox1 label
{
    font-weight: bolder;
    font-size: 20px;
}
.butn1-1 input:hover
{
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid rgb(78, 76, 76);
    color: rgba(29, 28, 28, 0.856);
}